extends layout

block vars
  -var title = 'Dashboard'

block body
  if user
    p hello #{user.firstName} #{user.lastName}
  h1 Dashboard
  
  div
    if user.room.roomName || user.room.roomies[0] != undefined
      if user.room.roomName
        p Room Name: 
        p #{user.room.roomName}  
      else
        p Room Name:
        p #{user.room.roomies[0].roomName}  
    else
      p You have no room. Get going man! Create your own or join a friend's below
   
  div
    p roomates:  
      if user.room.roomies  
        each roomie in user.room.roomies
          p #{roomie.firstName} #{roomie.lastName}
      else
        p you have no roomates, baller status achieved.
  

  div
    p Bills:

  div
    p Balance:

  div
    p Room invites:
      if roomInvite
        ul
          each invite in user.roomInvites
            li You have a room invitation from #{invite.firstName} #{invite.lastName}
              form(action='/createroom/acceptinvite', method='post')
                input(type='submit', value='ACCEPT', name='inviteStatusAccept')
                input(type='submit', value='DECLINE', name='inviteStatusDecline')


  div
    p Dont belong to a room yet? Click below to create a room and invite your roomates!
    form(action='/createroom', method='get')
      input(type='submit', value='CREATE ROOM')

    form(action='/createroom/addroommate', method='post')
      input(type='text', name='roomMateEmail')
      input(type='submit', value='ADD ROOMATE')

  a(href="/logout") logout